doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1= pageTitle
        a(href="/login")
            button Sign In
        pre= accessTokenString
        form(action="/bibRecord")
            label(for="oclc-number") OCLC Number:&nbsp;
            input(type="text" id="oclc-number" name="oclcnumber" value=oclcnumber)
            button(type="submit") Get Bib Record
        pre= bibRecord
